.timer__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

  button,
  input {
    background: transparent;
    border: 1px solid #eee;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.8rem;
    transition: all 0.1s ease-in-out;
    color: var(--color-text);

    &:hover {
      background-color: #eee;
      cursor: pointer;
    }

    &:disabled {
      &:hover {
        background-color: transparent;
        cursor: inherit;
      }
    }
  }

  input {
    width: 80px;
    text-align: center;

    &::placeholder {
      color: var(--color-text);
      opacity: 1;
    }
  }
}
