.table-ui--storybook {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-ui--storybook .table {
  width: 800px;
}

.table-ui--storybook .custom-table {
  width: 800px;
  background-color: #fff;
  padding: 5px 0;
  border-radius: 20px;
  box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
}
