.modal__container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #acc8cb8e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.modal__dinamic {
  z-index: 120;
}

.modal__exit {
  position: fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;
}

.modal-enter-active,
.modal-leave-active {
  transition: all 0.5s ease;
}
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
