.table__containter {
  display: block;
  overflow-x: auto;
  border: 1px solid #eaeaea;
}

table {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-collapse: inherit;
  background-color: #fff;
  display: table;
  vertical-align: center;

  tr {
    box-sizing: border-box;

    &:nth-child(even) {
      background: #fff;
    }

    &:hover {
      background: #fffbf7;
    }

    &:last-of-type {
      td {
        border-bottom: 0;
      }
    }

    th {
      box-sizing: border-box;
      font-size: 1.4rem;
      line-height: 1.6rem;
      padding: 20px;
      text-align: left;
      font-weight: 500;
      background: #f7f8fd;
    }

    td {
      padding: 1.5rem 2rem;
      border-bottom: 1px solid #eaeaea;
    }
  }

  .table__header {
    background: #f7f8fd;
  }

  .actions {
    text-align: right;
    display: flex;
    justify-content: right;

    button {
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      margin: 0 5px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .filters {
    display: flex;
    gap: 5px;
  }

  .column__filter,
  .action__icon {
    width: 15px;
    opacity: 0.5;
    transition: all 0.15s ease;
    cursor: pointer;

    svg {
      fill: #545466;
    }

    &:hover {
      opacity: 1;
    }
  }

  .column__filter {
    width: 1.4rem;
    height: 1.6rem;
  }
}

.empty__text {
  padding: 25px;
  border-top: 0;
  text-align: center;
  background-color: #fff;
}

.table__pagination {
  display: flex;
  justify-content: right;
  padding-top: 10px;
}
