.table__containter {
  display: block;
  overflow-x: auto;
  border: 1px solid #ededf9;
}

table {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-collapse: inherit;
  background-color: #fff;
  display: table;
  vertical-align: center;

  tr {
    &:nth-child(even) {
      background: #fff;
    }

    &:hover {
      background: #fffbf7;
    }

    &:last-of-type {
      td {
        border-bottom: 0;
      }
    }

    th {
      min-width: 100px;
      font-size: 1.4rem;
      line-height: 1.6rem;
      padding: 20px;
      text-align: left;
      font-weight: 500;
      background: #f7f8fd;
    }

    td {
      padding: 1.5rem 2rem;
      border-bottom: 1px solid #ededf9;
    }
  }

  .actions {
    text-align: right;
    display: flex;
    justify-content: right;

    button {
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      margin: 0 5px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .action__icon {
      width: 15px;
      opacity: 0.5;
      transition: all 0.25s ease;
      cursor: pointer;

      svg {
        fill: #545466;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.empty__text {
  padding: 25px;
  border-top: 0;
  text-align: center;
  background-color: #fff;
}

.table__pagination {
  display: flex;
  justify-content: right;
  padding-top: 10px;
}
