.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.timer__area {
  width: 100%;
  max-width: 500px;
}

.page__title {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 900;
  margin: 20px;
  text-align: center;
}

.white-bg {
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #eaeaea;
}

.page__footer {
  text-align: center;
  line-height: 2.5rem;
  .warning {
    font-size: 2rem;
  }
}
