.pagination__container {
  display: flex;

  li {
    .label {
      border: 1px solid #ededf9;
      padding: 5px 10px;
      border-right: 0;

      transition: all 0.2s ease;

      &:hover {
        background-color: #3399ff;
        border-color: #3399ff;
        color: #fff;
        cursor: pointer;
      }
    }

    &.selected {
      .label {
        background-color: #3399ff;
        color: #fff;
        border-color: #3399ff;
      }
    }

    &:first-child {
      .label {
        border-radius: 5px 0 0 5px;
      }
    }

    &:last-child {
      .label {
        border-radius: 0 5px 5px 0;
        border-right: 1px solid #ededf9;

        &:hover {
          background-color: #3399ff;
          border-color: #3399ff;
          color: #fff;
          cursor: pointer;
        }
      }
    }

    &.last__page {
      .dots {
        border: 1px solid #ededf9;
        border-right: 0;
        padding: 5px 10px;
      }
    }
  }
}
