.pagination__container {
  display: flex;
  align-items: center;
  --border: 5px;
  padding: 0;

  li {
    display: flex;
    &:first-child {
      .label {
        border-radius: var(--border) 0 0 var(--border);
      }
    }

    &:last-child {
      .label {
        border-radius: 0 var(--border) var(--border) 0;
        border-right: 1px solid #ededf9;
      }
    }

    .label {
      box-sizing: border-box;
      border: 1px solid #ededf9;
      background: #fff;
      padding: 7px 10px;
      border-right: 0;
      transition: all 0.2s ease;

      &:hover,
      &.selected {
        background-color: #3399ff;
        border-color: #3399ff;
        color: #fff;
        cursor: pointer;
      }

      &.alone {
        border-radius: var(--border);
      }
    }

    .dots {
      border: 1px solid #ededf9;
      background: #fff;
      border-right: 0;
      padding: 5px 10px;
    }
  }
}
