.template__container {
  position: relative;
  background: #f1f4f5;
  transition: 0.2s;
  display: flex;

  .body__content {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 30px;
    margin: 0 20px;
    overflow: auto;
  }

  .body__center {
    width: 100%;
    max-width: 1200px;
  }

  .header {
    width: 100%;
    z-index: 50;
  }

  .body {
    position: relative;
    min-width: 100vw;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: 768px) {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.2s;

    .body__content {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    margin-top: 60px;

    .header {
      z-index: 20;
      position: fixed;
      top: 0;
      right: 0;
    }

    .body__area {
      height: 100%;
      width: 100%;
    }
  }
}

.content__bottom {
  padding: 20px;
}

.sidebar__close svg {
  display: none;
}

.body__area {
  flex: 1 1;
}

/** component animations */

.v-enter-active,
.v-leave-active {
  transition: all 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translate(500px);
}

.close-area-enter-active,
.close-area-leave-active {
  transition: all 0.3s ease;
}

.close-area-enter-from,
.close-area-leave-to {
  opacity: 0;
}
