.button-ui {
  background: var(--action-secondary);
  color: var(--text-color);
  padding: 14px 20px;
  border: none;
  transition: all 0.1s ease-in-out;
  font-size: 1.6rem;
  line-height: 1;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background: var(--action-secondary-dark);
  }

  &:active {
    transform: translateY(2px);
  }

  &:disabled {
    opacity: 0.5;
    filter: none;

    &:hover {
      cursor: default;
      background: var(--action-secondary);
    }

    &:active {
      transform: none;
    }
  }

  &.sharp {
    border-radius: 0;
  }

  &.full {
    width: 100%;
  }

  &.lg {
    padding: 20px 25px;
    font-size: 1.7rem;
  }

  &.sm {
    padding: 10px 15px;
    font-size: 1.5rem;
  }

  &.primary {
    color: #fff;
    background: var(--action-primary);

    &:hover {
      background: var(--action-primary-dark);

      &:disabled {
        background: var(--action-primary);
      }
    }
  }

  &.confirm {
    color: #fff;
    background: var(--action-confirm);

    &:hover {
      background: var(--action-confirm-dark);

      &:disabled {
        background: var(--action-confirm);
      }
    }
  }

  &.warning {
    color: #fff;
    background: var(--action-warning);

    &:hover {
      background: var(--action-warning-dark);

      &:disabled {
        background: var(--action-warning);
      }
    }
  }

  &.remove {
    color: #fff;
    background: var(--action-remove);

    &:hover {
      background: var(--action-remove-dark);

      &:disabled {
        background: var(--action-remove);
      }
    }
  }

  &.help {
    color: #fff;
    background: var(--action-help);

    &:hover {
      background: var(--action-help-dark);

      &:disabled {
        background: var(--action-help);
      }
    }
  }
}
