.table__containter {
  display: block;
  overflow-x: auto;
}

table {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-collapse: inherit;
  display: table;
  vertical-align: center;

  tr {
    box-sizing: border-box;

    &:last-of-type {
      td {
        border-bottom: 0;
      }
    }

    th {
      box-sizing: border-box;
      font-size: 1.2rem;
      line-height: 1.2rem;
      text-transform: uppercase;
      padding: 15px 20px;
      text-align: left;
      font-weight: 700;
      border-bottom: 1px solid #e9ecef;
      color: #8392ab;
      opacity: 0.7;
    }

    td {
      font-size: 1.4rem;
      line-height: 1.4rem;
      padding: 10px 20px;
      border-bottom: 1px solid #e9ecef;
    }
  }

  .actions {
    text-align: right;

    .buttons {
      display: flex;
      justify-content: right;
    }

    button {
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      margin: 0 5px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .filters {
    display: flex;
    gap: 5px;
  }

  .column__filter,
  .action__icon {
    width: 12px;
    opacity: 0.5;
    transition: all 0.15s ease;
    cursor: pointer;

    svg {
      fill: #8392ab;
    }

    &:hover {
      opacity: 1;
    }
  }

  .column__filter {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.empty__text {
  padding: 25px;
  text-align: center;
}

.table__pagination {
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: right;
  padding: 15px 20px 10px 20px;
}
