.record-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.col {
  display: flex;
  gap: 15px;
}

.col-tree {
  display: grid;
  grid-template-columns: 1fr repeat(2, calc(100px));
  gap: 15px;
}
