.timer__container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

.timer {
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 10px;
  width: 100%;

  @media (max-width: 350px) {
    flex-direction: column;
  }
}
