.input__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 1.4rem;
    margin-bottom: 5px;
    font-weight: 500;
  }

  input {
    background-color: #fff;
    border: 1px solid #eaeaea;
    height: 40px;
    text-indent: 15px;

    &.lg {
      height: 50px;
      font-size: 1.6rem;
      line-height: 1.6rem;
    }

    &.rounded {
      border-radius: 25px;
    }

    &:focus {
      outline: none;
      border: 1px solid #615cff7c;
    }
  }

  [type="date"],
  [type="time"] {
    padding: 0px 15px;
    text-indent: 0;
  }

  [type="number"] {
    padding: 0px 15px;
    text-indent: 0;
  }
}
