.storybook--root .default--storybook {
  width: 100%;
  padding: 15px;
}

.storybook--root .no-p {
  padding: 0;
}

.storybook--root .w-350 {
  width: 100%;
  max-width: 350px;
}

.storybook--root .w-400 {
  width: 100%;
  max-width: 400px;
}

.storybook--root .w-500 {
  width: 100%;
  max-width: 500px;
}

.storybook--root .w-600 {
  width: 100%;
  max-width: 600px;
}

.storybook--root .w-850 {
  width: 100%;
  max-width: 850px;
}
