.storybook--root {
  .default--storybook {
    width: 100%;
    padding: 15px;
  }

  .no-p {
    padding: 0;
  }

  .w-100 {
    width: 100%;
    max-width: 100px;
  }

  .w-150 {
    width: 100%;
    max-width: 150px;
  }

  .w-200 {
    width: 100%;
    max-width: 200px;
  }

  .w-250 {
    width: 100%;
    max-width: 250px;
  }

  .w-300 {
    width: 100%;
    max-width: 300px;
  }

  .w-350 {
    width: 100%;
    max-width: 350px;
  }

  .w-400 {
    width: 100%;
    max-width: 400px;
  }

  .w-450 {
    width: 100%;
    max-width: 450px;
  }

  .w-500 {
    width: 100%;
    max-width: 500px;
  }

  .w-550 {
    width: 100%;
    max-width: 550px;
  }

  .w-600 {
    width: 100%;
    max-width: 600px;
  }

  .w-650 {
    width: 100%;
    max-width: 650px;
  }

  .w-700 {
    width: 100%;
    max-width: 700px;
  }

  .w-750 {
    width: 100%;
    max-width: 750px;
  }

  .w-800 {
    width: 100%;
    max-width: 800px;
  }

  .w-850 {
    width: 100%;
    max-width: 850px;
  }
}
