.card-component
    width: 450px
    border-radius: 15px
    background-color: #fff
    border: 1px solid #eaeaea
    display: flex
    flex-direction: column

    .header-block
        padding: 20px 30px
        border-bottom: 1px solid #eaeaea

        .title
            font-size: 16px

    .body-slot
        padding: 30px
