.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & > * {
    margin: 7.5px;
  }

  .card-bg {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #eaeaea;
  }

  .full-area {
    width: 100%;
  }

  @media (max-width: 480px) {
    .card-bg {
      width: 100%;
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: all 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateY(-30px) scale(0.8);
}
